[submodule "dftd4-fitdata"]
	path = dftd4-fitdata
	url = https://github.com/dftd4/dftd4-fitdata.git
[submodule "extern/pybind11"]
	path = src/cpp/extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
