[submodule "dftd4-fitdata"]
	path = dftd4-fitdata
	url = https://github.com/dftd4/dftd4-fitdata.git
[submodule "extern/pybind11"]
	path = src/cpp/extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "symbolic_regression/PySR"]
	path = symbolic_regression/PySR
	url = git@github.com:Awallace3/PySR.git
[submodule "dispersion"]
    path = src/dispersion
    url = git@github.com:Awallace3/dispersion.git
